<a href="https://colab.research.google.com/github/edhuassis/estudos-dio-python-aI-backend-developer/blob/main/Variaveis_e_constantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Constantes e variaveis

In [ ]:
# Constantes são definidas em maiusculo exemplos:
DEBUG = True
STATES = [
    'SP',
    'RJ',
    'MG',
]

AMOUNT = 30.2

In [ ]:
# Variaveis são atribuidas por seus conteudos
nome = 'Miguel'
idade = 14
status = True

In [ ]:
# Boas praticas
# O padrão de nomes deve ser snake case.
quantidade_caixas = 10
# Escolher nomes sugestivos.
valor_diario = 12,00
# Nome de constantes todos em maiúsculo
DEBUG = True

Conversão de tipos de Variaveis

In [ ]:
# Conversão de tipos

# Converter inteiro
print(int(1.5454848))

# Converter para float
print(float("10.10"))

# Converter string
valor = 10
valor_str = str(valor)

# Exibindo tipo de valor
print(type(valor))
print(type(valor_str))

1
10.1
<class 'int'>
<class 'str'>

Funções de entrada e saida

In [ ]:
# Uso da função input

nome = input("Informe seu nome")

Informe seu nomeGuilherme

In [ ]:
# Uso da função print

print(nome)

Guilherme

In [ ]:
# Dividir um numero e converter em inteiro
print(5//2)

2

In [ ]:
# Mostrar erro ao tentar converter uma string em float
print(float("a"))

ValueError: could not convert string to float: 'a'